@model IEnumerable<EliteFlower.Web.Models.ProductOverview>

@{
    ViewData["Title"] = "Index";
}

<h1>Product List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PathImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufactureName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-secondary" })
                    <a href="#" onclick="askSure(@item.Id)" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure of delete this item?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Not</button>
                <a id="btn-delete" name="btn-delete" class="btn btn-primary">Yes</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function askSure(id) {
            // /Product/Delete/1
            $("#btn-delete").attr("href", "/Product/Delete/" + id);
        }
    </script>
}
